@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-swal-height {
    height: 50vh; /* Set the height to 50% of the viewport */
    max-height: 450px; /* Prevent the alert from getting too large */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content */
  }
  